{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h2 class="text-primary">Login Form</h2>
            <br />
            <h4>Please enter your SSH credentials</h4>
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}