# Add any directories, files, or patterns you don't want to be tracked by version control\
*.csv
*.pyc
*.log
*.db
app/log/
log/*
scripts_bank/logs/*
scripts_bank/textfiles/*
instance/settings.py
flask/
tests/
tests/*
tmp/*
