# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
*.log
app.db
scripts_bank/logs/*
scripts_bank/textfiles/*
log/*
instance/settings.py
flask/
flask/*
tests/
tests/*