ciscoconfparse>=1.5.19
Flask>=1.1.2
Flask-Bootstrap>=3.3.7.1
Flask-Migrate>=2.5.3
Flask-Script>=2.0.6
Flask-SQLAlchemy>=2.4.4
Flask-WTF>=0.14.3
mock>=4.0.2
netaddr>=0.8.0
netmiko>=3.3.2
nose>=1.3.7
paramiko>=2.7.2
pyOpenSSL>=19.1.0
redis>=3.5.3
requests>=2.24.0
sqlalchemy-migrate>=0.13.0
WTForms>=2.3.3