<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-9 col-md-offset-1">
		{% include "/loading_screen.html" %}
		<div id="loadingContentHide">
	        <!--<form action="/results/resultsfwaclgenerator.html" method="post" class="form">-->
	        <form action="{{ url_for('resultsFWACLGenerator') }}" method="post" class="form">
	            <div class="panel panel-success">
	                <div class="panel-heading">Firewall ACL Form Output</div>
	                <div class="panel-body">
	                	hostID = {{ session['HOSTID'] }}<br />
					    hostname = {{ session['HOSTNAME'] }}<br />
					    changeTicket = {{ session['CHANGETICKET'] }}<br />
					    changeDesc = {{ session['CHANGEDESC'] }}<br />
					    sourceIP = {{ session['SOURCEIP'] }}<br />
					    destIP = {{ session['DESTIP'] }}<br />
					    ports = {{ session['PORTS'] }}<br />
	                    <div class="text-right">
	                        <!--<a href="/results/resultsfwaclgenerator" class="btn btn-danger">Confirm</a>-->
	                        <input type="submit" value="Confirm" onclick="loading();" class="btn btn-primary" />
	                        <a href="/fwaclgenerator" class="btn btn-default">Cancel</a>
	                    </div>
	                </div>
	            </div>
	        </form>
	    </div>
    </div>
</div>

{% endblock %}