<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-lg-10">
        <form action="/results/resultshostdeleted.html" method="post" class="form">
            <div class="panel panel-danger">
                <div class="panel-heading">Delete host?</div>
            	<div class="panel-body">

				<p>Are you sure you want to delete host <strong>{{ host.hostname }}</strong> from the database?</p>
					<div class="text-right">
                		<a href="/results/resultshostdeleted/{{ host.id }}" class="btn btn-danger">Confirm</a>
                		<a href="{{ url_for('viewHosts')}}" class="btn btn-default">Cancel</a>
            		</div>
            	</div>
           	</div>
        </form>
	</div>
</div>

{% endblock %}
