<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-9 col-md-offset-1">
        <form action="/results/resultinterfaceedit.html" method="post" class="form">
            <div class="panel panel-danger">
                <div class="panel-heading">Edit Interface?</div>
            	<div class="panel-body">
                    {% set otherURL = otherEncoded|replace('/','_') %}
                    
    				<p>Are you sure you want to modify interface <strong>{{ hostinterface }}</strong> on host <strong>{{ host.hostname }}</strong>?</p>
                    <p>The following commands will be executed:</p>

<code>{{ host.get_cmd_enter_configuration_mode() }}<br />
&nbsp;interface {{ hostinterface }}<br />
{% if datavlan == '' %}{% set datavlan = 0 %}{% else %}&nbsp;&nbsp;switchport access vlan {{ datavlan }}<br />{% endif %}
{% if voicevlan == '' %}{% set voicevlan = 0 %}{% else %}&nbsp;&nbsp;switchport voice vlan {{ voicevlan }}<br />{% endif %}
{% if other == '' %}{% set other = 0 %}{% else %}{% set otherDisplay = other|replace('\n','<br />&nbsp;&nbsp;') %}&nbsp;&nbsp;{{ otherDisplay | safe }}<br />
{% endif %}&nbsp;&nbsp;{{ host.get_cmd_exit_configuration_mode() }}<br />
</code>

					<div class="text-right">
                		<a href="/results/resultsinterfaceedit/{{ host.id }}/{{ datavlan }}/{{ voicevlan }}/{{ otherURL }}?int={{ hostinterface }}" class="btn btn-danger">Confirm</a>
                		<a href="/db/viewhosts/{{ host.id }}" class="btn btn-default">Cancel</a>
            		</div>
            	</div>
           	</div>
        </form>
	</div>
</div>

{% endblock %}