<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<!--
<script>
    var selectedInterfaces = JSON.parse(window.localStorage.getItem("selectedInterfaces")); // Retrieving
</script>
-->
<div class="container-fluid">
    <div class="row">
    	<div class="col-md-9 col-md-offset-1">
            <form action="/results/resultsmultipleintenabled.html" method="post" class="form">
                <div class="panel panel-danger">
                    <div class="panel-heading">Enable multiple interfaces?</div>
                    	<div class="panel-body">

            				<p>The following commands will be executed:</p>
<pre><code>{{ host.get_cmd_enter_configuration_mode() }}
{% for x in interfaces.split('&') %}{% if x %}{% set x = x|replace('_','/') %}&nbsp;interface {{ x }}
&nbsp;&nbsp;{{ host.get_cmd_enable_interface() }}
{% endif %}{% endfor %}&nbsp;&nbsp;end
{{ host.get_save_config_cmd() }}
</code></pre>
                            <br />

                            <div class="text-right">
                        		<a href="/results/resultsmultipleintenabled/{{ host.id }}/{{ interfaces }}" class="btn btn-danger">Confirm</a>
                        		<a href="/db/viewhosts/{{ host.id }}" class="btn btn-default">Cancel</a>
                    		</div>
                        </div>
                	</div>
               	</div>
            </form>
    	</div>
    </div>
</div>

{% endblock %}