<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <form action="/results/resulthostedit.html" method="post" class="form">
                <div class="panel panel-success">
                    <div class="panel-heading">Edit Host - Success</div>
                    <div class="panel-body">
                        {% if hostname == '' and ipv4_addr == '' and hosttype == '' and ios_type == '' %}
                            No changes have been made<br />
                        {% else %}
                        <p>Host <strong>{{ originalHost.hostname }} successfully edited</strong></p><br />
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Field Name</th>
                                        <th>Original Data</th>
                                        <th>Updated Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if hostname != '' %}
                                        <tr>
                                            <td>Hostname</td>
                                            <td>{{ originalHost.hostname }}</td>
                                            <td>{{ updatedHost.hostname }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if ipv4_addr != '' %}
                                        <tr>
                                            <td>IPv4 Address</td>
                                            <td>{{ originalHost.ipv4_addr }}</td>
                                            <td>{{ updatedHost.ipv4_addr }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if hosttype != '' %}
                                        <tr>
                                            <td>Device Type</td>
                                            <td>{{ originalHost.type }}</td>
                                            <td>{{ updatedHost.type }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if ios_type != '' %}
                                        <tr>
                                            <td>IOS Type</td>
                                            <td>{{ originalHost.ios_type }}</td>
                                            <td>{{ updatedHost.ios_type }}</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <div class="text-right">
                                <a href="/db/viewhosts/{{ updatedHost.id }}" class="btn btn-success">Go to {{ updatedHost.hostname }}</a>
                                <a href="/db/viewhosts" class="btn btn-primary">View All Hosts</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}