{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="pull-right">
				<a href="/db/viewhosts" class="btn btn-primary">View Host List</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<h1>HOST CONNECT ERROR PAGE</h1>
			<p>Unable to connect to host {{ host.hostname }}.<br />
			Please check the connection from the server to host {{ host.hostname }} and try again.</p>
		</div>
	</div>
</div>

{% endblock %}