<!-- Interface Config Modal -->
<div id="modalConfigInterface" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
         {% include "/loading_screen.html" %}
         <div id="loadingContentHide">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
           </div>
           <div class="modal-body">
          	   <p class="modal-result">
               </p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
   </div>
</div>

<!-- Interface Edit Modal -->
<div id="modalEditInterface" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
           </div>
           <div class="modal-body">
              <h4 class="text-primary">What would you like to modify on interface <span class=modal-interface></span>?</h4>
           		<p class="modal-result"></p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
       </div>
   </div>
</div>

<!-- Device Show Running Config Modal -->
<div id="modal_cmd_show_run_config" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
            	   <p class="modal-result"></p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
       </div>
   </div>
</div>

<!-- Device Show Startup Config Modal -->
<div id="modal_cmd_show_start_config" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
                 <p class="modal-result"></p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
       </div>
   </div>
</div>

<!-- Device Show CDP Neighbors Modal -->
<div id="modal_cmd_show_cdp_neigh" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
                 <p class="modal-result"></p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
       </div>
   </div>
</div>

<!-- Device Show Version Modal -->
<div id="modal_cmd_show_version" class="modal fade" role="dialog">
     <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
                 <p class="modal-result"></p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
</div>

<!-- Device Show Inventory Modal -->
<div id="modal_cmd_show_inventory" class="modal fade" role="dialog">
     <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
                 <p class="modal-result"></p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
</div>

<!-- Device Run Custom User Config Commands Modal -->
<div id="modal_cmd_custom" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
           </div>
           <div class="modal-body">
               <p class="modal-result"></p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
       </div>
   </div>
</div>

<!-- Device Run Custom User Config Commands Modal -->
<div id="modal_cfg_cmd_custom" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
           </div>
           <div class="modal-body">
               <p class="modal-result"></p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
       </div>
   </div>
</div>

<!-- Save Running Config Modal -->
<div id="modalSaveConfig" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
         {% include "/loading_screen.html" %}
         <div id="loadingContentHide">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
           </div>
           <div class="modal-body">
               <p class="modal-result">
               </p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
   </div>
</div>