<!-- extend base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container-fluid">
	<div class="row">
    	<div class="col-md-9">
			<h2 class="text-primary">Import New Devices to Database</h2>
			<form action="{{ url_for('importHosts') }}" method="post" name="importhosts">
			    <b>CSV import parameters:</b>
					<ul>
			        <li>Hostname - <small>The hostname of the device</small></li>
							<li>IPv4 Address - <small>The IPv4 address of the device</small></li>
							<li>Device Type - <small>Valid Options: Switch, Router, or Firewall</small></li>
							<li>OS Type - <small>Valid Options: IOS, IOS-XE, NX-OS, or ASA</small></li>
							<li>Local Credentials - <small>Use different credentials than currently logged in NetConfig user. Valid Options: True, False (default)</small></li>
					</ul>
			   {{ wtf.quick_form(form) }}
			</form>
		</div>
	</div>
</div>
{% endblock %}
