{% extends 'base.html' %}
{% block content %}

<!-- Setting the variable up here is necessary to allow it to be used throughout page
	Otherwise it is locked into an if/for instance and can't be used outside of it -->
{% set ifaceURL = {'iface': ''} %}
	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="pull-right">
				<a href="/db/viewhosts" class="btn btn-primary">View Host List</a>
				<a href="/edithost/{{ host.id }}" class="btn btn-info">Edit Host</a>
				<a href="/confirm/confirmhostdelete/{{ host.id }}" class="btn btn-danger" title="Delete Host">Delete Host</a>
			</div>
		</div>
	</div>
	<div class="row">
    	<div class="col-md-8">
			<h2 class="text-primary">View Host Interfaces</h2>
			{% if not host %}
				Host not found in original request.
			{% else %}
				<div class="row">
					<div class="col-md-3">
						<b>Hostname:    </b>{{ host.hostname }}<br />
						<b>IP Address:  </b> {{ host.ipv4_addr }}<br />
						<b>Device Type: </b> {{ host.type }}<br />
					</div>
					<div class="col-md-3">
						<b>Active Interfaces:   </b> {{ upInt }}<br />
						<b>Down Interfaces:     </b> {{ downInt }}<br />
						<b>Disabled Interfaces: </b> {{ disabledInt }}<br />
						<b>Total Interfaces:    </b> {{ totalInt }}<br />
					</div>
					<div class="col-md-2">
						<b>Uptime: </b><i id="loadUptimeIcon" class="fa fa-spinner fa-spin"></i><br />
						<span id="hostUptime"></span><br />
					</div>
					<div class="col-md-4">
						<div class="pull-right">
							<button id="btnEnableInterfaces" class="btn btn-success btn-xs toggle-ips">
								Enable Interfaces
							</button>
							<!--<button id="btnEditInterfaces" class="btn btn-info btn-xs toggle-ips">
								Edit Interfaces
							</button>-->
							<button id="btnDisableInterfaces" class="btn btn-danger btn-xs toggle-ips">
								Disable Interfaces
							</button>
						</div>
					</div>
				</div>
			{% endif %}
			<br />
			
			<span class="text-nowrap">
				<div class="table-responsive">
					<table id="tblViewSpecificHost" class="table table-striped table-hover table-condensed display">
						<thead>
							<tr>
								<!-- Blank column used for checkbox -->
								<th></th>
								{% for x in tableHeader.split(',') %}
									<th>{{ x }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
						    {% for interface in interfaces %}
				    			{% if loop.index0 > 0 %}
				    				<tr>
										{% if not 'Interface' in interface %}
											{% for x in interface.split(',') %}
												{% if x %}
													{% if loop.index0 == 0 %}
														<td></td>
														{% if ifaceURL.update({'iface': x|replace('/','_')}) %}{% endif %}
														<td id="tdInterface"><a href="modalConfigInterface" data-toggle="modal" data-target="#modalConfigInterface" data-interface="{{ ifaceURL['iface'] }}" onclick="loading();return false;">{{ x }}</a></td>
													{% else %}
														{% if not x or x != ' ' %}
															<td>{{ x }}</td>
														{% endif %}
								    				{% endif %}
							    				{% endif %}
											{% endfor %}
											<td>
												<a href="/confirm/confirmintenable/{{ host.id }}/{{ ifaceURL['iface'] }}" class="btn btn-xs btn-success" title="Enable Interface"><i class="glyphicon glyphicon-arrow-up" aria-hidden="true"></i></a>
												<a href="modalEditInterface" data-toggle="modal" data-target="#modalEditInterface" class="btn btn-xs btn-warning" data-interface="{{ ifaceURL['iface'] }}" title="Edit Interface"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a href="/confirm/confirmintdisable/{{ host.id }}/{{ ifaceURL['iface'] }}" class="btn btn-xs btn-danger" title="Disable Interface"><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></a>&nbsp;
												<a href="modalConfigInterface" data-toggle="modal" data-target="#modalConfigInterface" class="btn btn-xs btn-info" data-interface="{{ ifaceURL['iface'] }}" title="Interface Info" onclick="loading();return false;"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></a>
											</td>
										{% endif %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</span>
		</div>
		<div class="col-md-1">
			{% include '/viewspecifichostcmds.html' %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
    		<br />
			<b>Command:</b>&nbsp;&nbsp;&nbsp;<i id="loadIcon" class="fa fa-spinner fa-spin"></i>
			<br />
			<input id="cmdInput" class="form-control" type="text" />
		</div>
		<div class="col-md-2">
			<br />
			<b>Configuration Mode</b>
			<br />
			<input id="chkConfigMode" type="checkbox" onclick="toggleConfigMode();" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<hr />
			<div id="outputID" class="pre-scrollable"></div>
		</div>
	</div>
	<br />
	<br />
</div>

{% include "/modals/viewspecifichost_modals.html" %}

{% include "/js/viewspecifichost_js.html" %}

{% include "/js/hostshell_js.html" %}

{% endblock %}