<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
    	<div class="col-md-8">
    		<div class="pull-right">
				<a href="/db/addhosts" class="btn btn-success" title="Add device to the local database"><i class="fa fa-plus"></i> Add Device</a>
                <a href="/db/importhosts" class="btn btn-info"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i> Import Devices</a>
				<button id="btnDeleteDevices" class="btn btn-danger" title="Delete devices from the local database"><i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i> Delete Devices</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h2 class="text-primary">View All Devices</h2>
			<h4>All network devices in database</h4>

			<div class="table-responsive">
				<table id="tblViewHosts" class="table table-striped table-hover table-condensed display">
					<thead>
						<tr>
							<!-- Blank column used for checkbox -->
							<th></th>
						    <th>Hostname</th>
						    <th>IPv4 Address</th>
						    <th>Type</th>
						    <th class="text-center">Status</th>
						    <th class="text-center">Options</th>
						    <th style="display:none">DB ID</th>
						</tr>
					</thead>
				    <tbody>
				    	<!-- hosts is a Paginate object -->
						{% for host in hosts.items %}
							<tr>
								<td></td>
								{% if status[host.hostname] %}
									{% if host.local_creds %}
										<td id="tdDevice"><a href="modalLocalCredentials" data-toggle="modal" data-target="#modalLocalCredentials" data-hostid="{{ host.id }}" data-hostname="{{ host.hostname }}"  onclick="loading();return false;">{{ host.hostname }}</a></td>
									{% else %}
										<td><a href="/db/viewhosts/{{ host.id }}">{{ host.hostname }}</a></td>
									{% endif %}
								{% else %}
									<td>{{ host.hostname }}</td>
								{% endif %}
							    <td>{{ host.ipv4_addr }}</td>
							    <td>{{ host.type }}</td>
							    {% if status[host.hostname] %}
									<td class="text-center"><i class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></i></td>
							    {% else %}
									<td class="text-center"><i class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></i></td>
							    {% endif %}
							    <td class="text-center"><a href="/edithost/{{ host.id }}" class="btn btn-xs btn-warning" title="Edit Device"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
							    <a href="/confirm/confirmhostdelete/{{ host.id }}" class="btn btn-xs btn-danger" title="Delete Device"><i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i></a></td>
							    <td style="display:none">{{ host.id }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% include "/modals/localcredentials_modals.html" %}

{% endblock %}
