  {% if session['USER'] and hosts %}
    <a href="#" class="dropdown dropdown-toggle" data-toggle="dropdown">Active Sessions <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      {% for host in hosts %}
          <li id="inlineSSHLine"><a id="inlineBtnText" href="/db/viewhosts/{{ host.id }}">{{ host.hostname }}</a> <a id="inlineBtnIcon" href="/calldisconnectspecificsshsession/{{ host.id }}" class="btn btn-xs btn-danger pull-right" title="Disconnect SSH Session to {{ host.hostname }}"><i class="glyphicon glyphicon-ban-circle" style="color:white" aria-hidden="true"></i></a></li>
      {% endfor %}
    </ul>
  {% else %}
    <a href="#">Active Sessions</a>
  {% endif %}