{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en" {% endblock %}
{% block title %}NetConfig{% endblock %}
{% block metas %}
	{{ super() }}
	<meta name="description" content="NetConfig">
	<meta name="author" content="Matt Vitale">
{% endblock %}
{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='DataTables/datatables.min.css')}}"> <!-- https://datatables.net/download/#bs/dt-1.10.16/b-1.4.2/fh-3.1.3/r-2.2.0/sl-1.2.3 -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{% block body %}
	{% block navbar %}
		<!-- BEGIN NAV BAR -->
		{% include 'inc/navbar-menu.html' %}
		<!-- END NAV BAR -->
	{% endblock %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-11">
				{% if session['USER'] or request.path == "/login" %}
					{% block content %}{% endblock %}
				{% else %}
					{% include "/errors/notloggedin.html" %}
				{% endif %}
			</div>
		</div>
	</div>

	{%block scripts %}
		<script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
		{{ super() }}
		<script src="{{url_for('static', filename='js/validator.min.js')}}"></script> <!-- https://github.com/1000hz/bootstrap-validator -->
		<script src="{{url_for('static', filename='js/loadingoverlay.min.js')}}"></script> <!-- http://gasparesganga.com/labs/jquery-loading-overlay/-->
		<script src="{{url_for('static', filename='js/loading.js')}}"></script> <!-- custom loading JS -->
		<script src="{{url_for('static', filename='DataTables/datatables.min.js')}}"></script> <!-- https://datatables.net/download/#bs/dt-1.10.16/b-1.4.2/fh-3.1.3/r-2.2.0/sl-1.2.3 -->
		{% if session['USER'] %}
		<script src="{{url_for('static', filename='js/countactivesessions.js')}}"></script>
		{% endif %}
		{% if request.path == "/db/viewhosts" or request.path == "/db/viewhosts/" %}
			<script src="{{url_for('static', filename='js/viewhosts.js')}}"></script>
			<script src="{{url_for('static', filename='js/localcredentials.js')}}"></script>
			<script src="{{url_for('static', filename='js/dcimnetbox.js')}}"></script>
		{% elif "/db/viewhosts/" in request.path %}
			<script src="{{url_for('static', filename='js/hostshell.js')}}"></script>
			<script src="{{url_for('static', filename='js/viewspecifichost.js')}}"></script>
		{% elif "/modallocalcredentials" in request.path or "/results/resultshostedit" in request.path %}
			<script src="{{url_for('static', filename='js/localcredentials.js')}}"></script>
		{% endif %}
	{% endblock %}
{% endblock %}