<!DOCTYPE HTML>
<HTML lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NetConfig</title>
    <meta name="description" content="NetConfig">
    <meta name="author" content="Matt Vitale">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/> <!-- https://datatables.net/download/#bs/dt-1.10.16/b-1.4.2/fh-3.1.3/r-2.2.0/sl-1.2.3 -->
    <link href="/static/css/styles.css" rel="stylesheet"/>   <!-- custom CSS -->

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/validator.min.js"></script>      <!-- https://github.com/1000hz/bootstrap-validator -->
    <script src="/static/js/loadingoverlay.min.js"></script> <!-- http://gasparesganga.com/labs/jquery-loading-overlay/-->
    <script src="/static/js/loading.js"></script>            <!-- custom loading JS -->
    <script type="text/javascript" src="/static/DataTables/datatables.min.js"></script> <!-- https://datatables.net/download/#bs/dt-1.10.16/b-1.4.2/fh-3.1.3/r-2.2.0/sl-1.2.3 -->
    {% block scripts %}{% endblock %}                        <!-- block for JS added on pages on demand -->
  </head>
  <body>
    <!-- BEGIN NAV BAR -->
    {% include 'inc/navbar-menu.html' %}
    <!-- END NAV BAR -->
    <!-- START CONTENT AREA -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          {% if session['USER'] or request.path == "/login" %}
            {% block content %}{% endblock %}
          {% else %}
            {% include "/errors/notloggedin.html" %}
          {% endif %}
        </div>
      </div>
    </div>
    {% if session['USER'] %}
      {% include "/js/count_active_sessions_js.html" %}
    {% endif %}
    <!-- END CONTENT AREA -->
  </body>
</HTML>