<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-condensed">
					<h2 class="text-primary">CDP Neighbors for {{ host.hostname }}:</h2><br /><br />
						{% autoescape false %}
							<thead>
								<tr>
									<th>Device ID</th>
									<th>IP Address</th>
									<th>Local Interface</th>
									<th>Platform</th>
									<th>Port ID</th>
								</tr>
							</thead>
							<tbody>
								{% for x in neigh %}
									<tr>
										<td> {{ x.device_id }} </td>
										<td> {{ x.remote_ip }} </td>
										<td> {{ x.local_iface }} </td>
										<td> {{ x.platform }} </td>
										<td> {{ x.port_id }} </td>
									</tr>
								{% endfor %}
							</tbody>
						{% endautoescape %}
				</table>
			</div>
		</div>
	</div>
</div>
