<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-condensed">
					<h2 class="text-primary">CDP Neighbors for {{ host.hostname }}:</h2><br /><br />
					<p>
						{% autoescape false %}
						<tr>
							{% for x in tableHeader.split(',') %}
								<th>{{ x }}</th>
							{% endfor %}
						</tr>
						{% for x in tableBody %} <!-- x is a single line in the array -->
							<tr>
								{% for y in x.split(',') %} <!-- y is a single word in the line -->
									{% if y %}
										<td>{{ y }}</td>
									{% endif %}
								{% endfor %}
							</tr>
						{% endfor %}
						{% endautoescape %}
					</p>
				</table>
			</div>
		</div>
	</div>
</div>