<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<h1 class="text-primary">Configure Switch Interface</h1>
<form action="{{ url_for('displayResult') }}" method="post" name="configInterface">
    {{ form.hidden_tag() }}
    <p>
        Please enter the device hostname:<br>
        {{ form.hostname(size=20, autofocus="autofocus") }}
        {% for error in form.hostname.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter the port (ex. g1/0/1):<br>
        {{ form.port(size=20) }}
        {% for error in form.port.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your username:<br>
        {{ form.user(size=20) }}
        {% for error in form.user.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your password:<br>
        {{ form.pw(size=20) }}
        {% for error in form.pw.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" value="Submit" class="btn btn-primary"></p>
</form>
{% endblock %}