<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
    	<div class="col-md-9">
			<h2 class="text-primary">Check for Access Through Firewall</h2>
			<form action="/results/resultfwcheckopenports" method="post" name="fwcheckopenports">
				{{ form.hidden_tag() }}
				<div class="form-group">
					<label class="col-2 col-form-label">
			    	    {{ form.hostname.label }}
			    	</label>
			        <div class="col-7">
				        {{ form.hostname }}
				        {% for error in form.hostname.errors %}
				          <span style="color: red;">[{{error}}]</span>
				        {% endfor %}
				    </div>
				</div>
				<div class="form-group">
					{{ form.sourceIP.label }}<br />
			        {{ form.sourceIP }}
			        {% for error in form.sourceIP.errors %}
			          <span style="color: red;">[{{error}}]</span>
			        {% endfor %}
				</div>
				<div class="form-group">
			        {{ form.destIP.label }}<br />
			        {{ form.destIP }}
			        {% for error in form.destIP.errors %}
			          <span style="color: red;">[{{error}}]</span>
			        {% endfor %}
				</div>
				<div class="form-group">
			        {{ form.port.label }}<br />
			        {{ form.port }}
			        {% for error in form.port.errors %}
			          <span style="color: red;">[{{error}}]</span>
			        {% endfor %}
				</div>
				<div class="form-group">
			        {{ form.protocol.label }}<br />
			        {{ form.protocol }}
			        {% for error in form.protocol.errors %}
			          <span style="color: red;">[{{error}}]</span>
			        {% endfor %}
				</div>
				<input type="submit" value="Submit" onclick="loading();" class="btn btn-primary">
				<br />
				<br />
			</form>
		</div>
	</div>
</div>

{% endblock %}
