<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<h1>Test convert store number to IP address</h1>
<form action="{{ url_for('displayConfig') }}" method="post" name="getConfig">
    {{ form.hidden_tag() }}
    <p>
        Please enter the device hostname:<br>
        {{ form.hostname(size=80) }}
        {% for error in form.hostname.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter the device host IP address:<br>
        {{ form.host(size=15) }}
        {% for error in form.host.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your username:<br>
        {{ form.user(size=80) }}
        {% for error in form.user.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your password:<br>
        {{ form.pw(size=80) }}
        {% for error in form.pw.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" value="Submit" class="btn btn-primary"></p>
</form>
{% endblock %}