<tr>
	{% if status[host.hostname] %}
		<td><a href="/db/viewhosts/{{ host.id }}">{{ host.hostname }}</a></td>
	{% else %}
		<td>{{ host.hostname }}</td>
	{% endif %}
    <td>{{ host.ipv4_addr }}</td>
    <td>{{ host.type }}</td>
    {% if status[host.hostname] %}
		<td class="text-center"><i class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></i></td>
    {% else %}
		<td class="text-center"><i class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></i></td>
    {% endif %}
    <td class="text-center"><a href="/edithost/{{ host.id }}" class="btn btn-xs btn-warning" title="Edit Device"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
    <a href="/confirm/confirmhostdelete/{{ host.id }}" class="btn btn-xs btn-danger" title="Delete Device"><i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i></a></td>
</tr>