<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="/db/viewspecifichost.html" method="post" class="localcredentials">
                {{ form.hidden_tag() }}
                <div class="panel-heading">Local Credentials Form</div>
                <div class="panel-body">
                    <h4>Please enter the SSH credentials for {{ host.hostname }} </h4>
                    <br />
                    <div class="form-group">
                        {{ form.user.label }}<br />
                        {{ form.user(size=20, autofocus="autofocus", required="required") }}
                        {% for error in form.user.errors %}
                          <span style="color: red;">[{{error}}]</span>
                        {% endfor %}<br />
                    </div>
                    <div class="form-group">
                        {{ form.pw.label }}<br />
                        {{ form.pw(size=20, required="required") }}
                        {% for error in form.pw.errors %}
                          <span style="color: red;">[{{error}}]</span>
                        {% endfor %}<br />
                    </div>
                    <div class="form-group">
                        {{ form.privpw.label }}<br />
                        {{ form.privpw(size=20) }}
                        {% for error in form.pw.errors %}
                          <span style="color: red;">[{{error}}]</span>
                        {% endfor %}<br />
                    </div>
                    <input type="hidden" name="localCredsUsed" value="True">

                    <div class="text-right">
                        <a href="/db/viewspecifichost/{{ host.id }}" class="btn btn-success">Submit</a>
                        <a href="/db/viewhosts" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>