<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
    	<div class="col-md-9">
			<h2 class="text-primary">Proxy Settings</h2>
			<div class="table-responsive">
				<!--<table id="tblSettings" class="table table-striped table-hover table-condensed display">
			    <tbody>-->
                <form action="{{ url_for('resultsEditProxy') }}" method="post" name="addhosts">
			        {{ form.hidden_tag() }}
                    <p>
                        {{ form.proxy_settings.label }}
                        {{ form.proxy_settings(required="required") }}
                        {% for error in form.proxy_settings.errors %}
                          <span style="color: red;">[{{error}}]</span>
                        {% endfor %}
                        <br /><br /><br />
                        {{ form.proxy_name(required="required") }}
                        {% for error in form.proxy_name.errors %}
                          <span style="color: red;">[{{error}}]</span>
                        {% endfor %}
                        <br /><br />
                        {{ form.proxy_edit(rows=4, cols=60, required="required") }}
                        {% for error in form.proxy_edit.errors %}
                          <span style="color: red;">[{{error}}]</span>
                        {% endfor %}<br />
                        <br />
                    </p>
                    <p><input type="submit" value="Submit" class="btn btn-primary" /></p>
                </form>
				<!--</tbody>
			</table>-->
		</div>
	</div>
</div>
{% endblock %}