<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<b>Config:</b>
			<br />
<code><pre>{% for x in intConfig %}{% if x != '' and 'end' not in x %}{% if x %}{{ x }}<br />{% elif not y and loop.index0 > 0 %}<br />{% endif %}{% endif %}{% endfor %}</pre></code>
			<b>Statistics:</b>
			<br />
<code><pre>{% for x in intStats %}{% if x != '' and 'end' not in x %}{% if x %}{{ x }}<br />{% elif not y and loop.index0 > 0 %}<br />{% endif %}{% endif %}{% endfor %}</pre></code>
			{% if host.type == 'Switch' %}
				<b>MAC Address Associations:</b>
			{% endif %}
			<br /><br />
			<!-- Only display MAC address table if there is data to display -->
			{% if intMacAddr %}
				<div class="table-responsive">
					<table class="table table-striped table-hover table-condensed">
						{% autoescape false %}
						<thead>
							<tr>
								<th>Vlan</th>
								<th>MAC Address</th>
								<th>Port</th>
							</tr>
						</thead>
						<tbody>
						{% for x in intMacAddr %} <!-- x is a single line in the array -->
							<tr>
								<td>{{ x.vlan }}</td>
								<td>{{ x.macAddr }}</td>
								<td>{{ x.port }}</td>
							</tr>
						{% endfor %}
						</tbody>
						{% endautoescape %}
					</table>
				</div>
			{% endif %}
		</div>
	</div>
</div>
