<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<b>Config:</b>
			<br />
<code><pre>{% for x in intConfig %}{% if x != '' and 'end' not in x %}{% if x %}{{ x }}<br />{% elif not y and loop.index0 > 0 %}<br />{% endif %}{% endif %}{% endfor %}</pre></code>
			<b>Statistics:</b>
			<br />
<code><pre>{% for x in intStats %}{% if x != '' and 'end' not in x %}{% if x %}{{ x }}<br />{% elif not y and loop.index0 > 0 %}<br />{% endif %}{% endif %}{% endfor %}</pre></code>
			{% if host.type == 'Switch' %}
				<b>MAC Address Associations:</b>
			{% endif %}
			<br /><br />
			<div class="table-responsive">
				<table class="table table-striped table-hover table-condensed">
					{% autoescape false %}
					<tr>
						{% for x in intMacHead.split(',') %}
							<th>{{ x }}</th>
						{% endfor %}
					</tr>
					{% for x in intMacBody %} <!-- x is a single line in the array -->
						<tr>
							{% for y in x.split(',') %} <!-- y is a single word in the line -->
								{% if y %}
									<td>{{ y }}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
					{% endautoescape %}
				</table>
			</div>
		</div>
	</div>
</div>